
$brandFont: 'din-2014', sans-serif;

$background: #fbf6ea;
$black: #58585a;

html {
    font-size: calc(1.5vw + 10px);
	line-height: 1.5;
}

body {
    background-color: $background;
}

.wrapper {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

h1, h2, h3 {
    font-family: $brandFont;
    font-weight: 700;
    text-transform: uppercase;
    color: $black;
}

p, a {
    font-family: $brandFont;
    font-weight: 400;
    color: $black;
}

a {
    border: 2px solid transparent;

    &:hover {
        border-bottom: 2px solid $black;
    }

    &:focus {
        border: 2px solid $black;
    }
}